@media screen and (min-width: 426px) and (max-width: 768px) {
    header {
        padding: 10px;
        height: 200px;
    }

    h1 {
        font-size: 45px;
        padding-left: 20x;
        padding-right: 20px;
        margin-bottom: 0;
    }

    nav { 
        font-size: 20px;
    }

    .subtitle {
        display: flex;
    }

    .subtitle h2 {
        font-size: 30px;
        margin: auto;
        width: auto;
        padding: 20px;
    }

    div.title {
        display: inline;
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        justify-content: center;
        width: auto;
        height: auto;
        overflow: hidden;
    }

    .title h3 {
        width: 700px;
        text-align: center;
        border-right: none;
        border-bottom: 10px hotpink solid;
    }

    p {
        width: 700px;
    }

    .text {
        width: 100%;
        justify-content: center;
    }

    .projects {
        width: auto;
        height: auto;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #big img {
        width: 700px;
        height: auto;
    }
    
    .others {
        width: 326px;
        height: auto;
    }

   .text nav {
        padding-bottom: 45px;
    }
}